hello.txt
alex-homework11/test.py
alex-homework11/04_методы классов_self.py
alex-homework11/03_сокращенно.py
alex-homework11/03_Атрибуты классов.py
alex-homework11/02_Основы_3_механизма.py
alex-homework11/01_OOP_create.py
alex-homework11/ф.py
alex-homework12/.idea/vcs.xml
alex-homework12/.idea/modules.xml
alex-homework12/.idea/misc.xml
alex-homework12/.idea/inspectionProfiles/Project_Default.xml
alex-homework12/.idea/inspectionProfiles/profiles_settings.xml
alex-homework12/.idea/alex-homework12.iml
alex-homework12tanks/test.py
alex-homework12tanks/test.py
alex-homework12tanks/ammo_rack.py
alex-homework12tanks/__pycache__/tank.cpython-312.pyc
alex-homework12tanks/__pycache__/armour.cpython-312.pyc
alex-homework12tanks/__pycache__/ammo.cpython-312.pyc
alex-homework12tanks/__pycache__/gun.cpython-312.pyc
