hello.txt
alex-homework11/test.py
alex-homework11/04_методы классов_self.py
alex-homework11/03_сокращенно.py
alex-homework11/03_Атрибуты классов.py
alex-homework11/02_Основы_3_механизма.py
alex-homework11/01_OOP_create.py
